###########################################
# APP
###########################################

PORT=3000

NODE_ENV=development

###########################################
# DATABASE
###########################################

DATABASE_URL="postgresql://postgres:senha@localhost:5432/futebol_hawai?schema=public"

###########################################
# JWT
###########################################

JWT_SECRET=troque_esta_chave

JWT_EXPIRES_IN=7d
